<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/@heroicons/react/outline" defer></script>
    <title>{{ goal.name }}</title>
</head>
<body class="min-h-screen bg-custom">
<div class="container mx-auto p-4">

    <h1 class="text-4xl text-custom5 font-bold mb-4 text-center">{{ goal.name }}</h1>
    <p class="text-center">Target Date: {{ goal.target_date }}</p>
    <p class="text-4xl font-bold mt-4 text-custom3"> Description: </p>
    <div class="box-border p-4 border-custom5 border-4 ">
        <p>{{ goal.description }}</p>
    </div>


    <div>
        <h1 class="text-4xl text-custom3 font-bold mt-4"> Tasks </h1>
    </div>
    
    <div id="taskForm" style="display:none;">
        <form class="p-4 md:p-8 my-5 mt-2 rounded-lg shadow-2xl" method="POST">
            <h1 class=" mb-4 text-4xl font-bold mt-4 text-custom3">New Task</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Task</button>
        </form>
    </div>
    <div class="mt-4 inline-flex items-center justify-center">
        <div class="bg-custom5 text-white rounded-full w-10 h-10 flex items-center justify-center" id="toggleButton" onclick="toggleForm()">
    
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
        </div>
        <span class="ml-2">Add a new task</span>
    </div>


<div class="flex justify-between">
    <div class="flex-1 border-8 border-custom4 m-2 p-4">
        <h2 class="font-bold text-xl mb-4">Daily Tasks</h2>
        {% for task in daily_tasks %}
            {% if task.is_completed_today %}
                <p>{{ task.title }} completed for today.</p>
            {% else %}
                <form method="POST" action="{% url 'mark_task_complete' task.id %}" id="task-form-{{ task.id }}"> 
                    {% csrf_token %}
                    <label for="completed-task-{{ task.id }}">
                        <input type="checkbox" name="completed" value="true" id="completed-task-{{ task.id }}" onchange="document.getElementById('task-form-{{ task.id }}').submit();"> 
                        {{ task.title }}
                    </label>
                </form>
            {% endif %}
        {% endfor %}
    </div>

    <div class="flex-1 border-8 border-custom4 m-2 p-4">
        <h2 class="font-bold text-xl mb-4">Weekly Tasks</h2>
        {% for task in weekly_tasks %}
            {% if task.is_completed_this_week %}
                <p>{{ task.title }} completed for this week.</p>
            {% else %}
                <form method="POST" action="{% url 'mark_task_complete' task.id %}" id="task-form-{{ task.id }}"> 
                    {% csrf_token %}
                    <label for="completed-task-{{ task.id }}">
                        <input type="checkbox" name="completed" value="true" id="completed-task-{{ task.id }}" onchange="document.getElementById('task-form-{{ task.id }}').submit();" {% if task.completed %} checked {% endif %}> 
                        {{ task.title }}
                    </label>
                </form>
            {% endif %}
        {% endfor %}
    </div>

    <div class="flex-1 border-8 border-custom4 m-2 p-4">
        <h2 class="font-bold text-xl mb-4">One-time Tasks</h2>
        {% for task in onetime_tasks %}
            <form method="POST" action="{% url 'mark_task_complete' task.id %}" id="task-form-{{ task.id }}"> 
                {% csrf_token %}
                <label for="completed-task-{{ task.id }}">
                    <input type="checkbox" name="completed" value="true" id="completed-task-{{ task.id }}" onchange="document.getElementById('task-form-{{ task.id }}').submit();" {% if task.completed %} checked {% endif %}> 
                    {{ task.title }}
                </label>
            </form>
        {% endfor %}
    </div>
</div>

    

    <h2>Completed Tasks</h2>
    <ul>
        {% for task in completed_tasks %}
            <li>
                {{ task.title }} 
            </li>
        {% empty %}
            <li>No completed tasks.</li>
        {% endfor %}
    </ul>
    


    <h2>Missed Tasks</h2>
    <ul>
        {% for task in missed_tasks %}
            <li>
                {{ task.title }} (Due: {{ task.due_date }})
            </li>
        {% empty %}
            <li>No missed tasks.</li>
        {% endfor %}
    </ul>

    


</div>
</body>
    <script>
        function toggleForm() {
            var x = document.getElementById("taskForm");
            var btn = document.getElementById("toggleButton");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
        }
    }
    </script>
</html>
